In [12]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='2231')
print(mydb)
if(mydb):
    print('success')
else:
    print('fail')

<mysql.connector.connection.MySQLConnection object at 0x000000CD73235730>
success

In [33]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='2231',db='record_company')
mc=mydb.cursor()

mc.execute('show databases')
for d in mc:
    print(d)
mc.execute('show tables') 
for a in mc:
    print('the tables are:',a)

('information_schema',)
('mysql',)
('performance_schema',)
('practice',)
('record_company',)
('sakila',)
('sys',)
('vignesh',)
('viki_schema',)
('world',)
the tables are: ('albums',)
the tables are: ('bands',)
the tables are: ('test',)

In [6]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='2231',db='record_company')
mc=mydb.cursor()

mc.execute('create table employee(name varchar(200), salary int(20))')

ProgrammingError: 1050 (42S01): Table 'employee' already exists

In [40]:
mc.execute('show tables')
for t in mc:
    print(t)

('albums',)
('bands',)
('employee',)
('test',)

In [1]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='2231',db='record_company')
mc=mydb.cursor()

query='insert into employee(name,salary) values(%s,%s)'
emp=[('viki',20000),('ram',30000),('vetri',40000),]
mc.executemany(query,emp)
mydb.commit()

In [2]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='2231',db='record_company')
mc=mydb.cursor()
mc.execute('select * from employee')
for a in mc:
    print(a)

('viki', 54980)
('ram', 30000)
('viki', 54980)
('ram', 30000)
('viki', 20000)
('ram', 30000)
('vetri', 40000)

In [34]:
sql1=("update  employee set salary=54980 where name='viki' and name='ram'")
mc.execute(sql1)
mydb.commit()

for a in mc:
    print(a)

In [31]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',password='2231',db='record_company')
mc=mydb.cursor()

mc.execute('select * from employee')
myresult=mc.fetchone()
myresult1=mc.fetchall()
for o1 in myresult1:
    print(o1)

('ram', 30000)
('vetri', 40000)
('viki', 54980)
('ram', 30000)
('vetri', 40000)

In [40]:
sql2=("delete from employee where name='vetri' ")
mc.execute(sql2)
mydb.commit()

In [48]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',password='2231',db='record_company')
mc=mydb.cursor()

mc.execute('select * from employee')
myresults=mc.fetchone()
for a in mc:
    print(a)
for b in myresults:
    print(b)
print(myresults)

('ram', 30000)
('viki', 54980)
('ram', 30000)
viki
54980
('viki', 54980)